
<div class="about_body">
	<br />
	<div class="frosty col-xs-10 col-xs-offset-1">
		<br />
    <h1>Our Mission</h1>
    <h2 class="line"><p>
      We are passionate innovators of long-lasting, premium quality
      electronics. By using high quality, Eco-Friendly materials, we make a positive impact on our customers day to day life,
      and long term future.
    </p>
    <p>
      Our sustainable practices and contribution goes further than our products.
      For every sale made we donate to various enviornmental charities including Friends of the Earth,
      Rainforest Alliance, and Earthjustice. We want You to know Your purchase makes a difference.
    </P></h2>
  </br>
  </br>
</div>
