<head>
  <title>You have successfully canceled your order</title>
</head>
<br />
<br />
<br />
<br />
<br />
<div class="box col-xs-10 col-xs-offset-1">
  <h1 class="h10 text-center"><b>Order Cancelation Successful</b> </h1>
  <h2 class="h9 text-center">
    This page is to confirm that you successfully canceled your purchase<br /><br />
    If you have any question or concerns please feel free to conntact us any time at Support@EcoElectroniox.com<br /><br />
    We'll get back to you within 24 hours

  </h2>
  <br />
</div>
