<head>
  <title>Out of Stock</title>
</head>
<br />
<br />
<br />
<br />
<br />
<div class="box col-xs-10 col-xs-offset-1">
  <br />
  <h1 class="h10 text-center"><b>So Sorry!<br />We are Temporarily Out of Stock</b> </h1>
  <h2 class="h9 text-center">
    <br />
    We may have more stock on Amazon.com
    <br />
    Click the Amazon icon below if you'd like to be re-directed to our Amazon product page
  </h2>
  <div class="col-xs-10 col-xs-offset-1">
  <a href="http://www.amazon.com/Electric-Stapler-Portable-Automatic-Operated/dp/B017S78BTY">
  <%= image_tag 'Amazon-logo2.png', :class => "image-size-10 center-block" %>
  </a>
  </div>
  <br />
</div>
