<head>
  <title>Thank you for your purchase!</title>
</head>
<br />
<br />
<br />
<br />
<br />
<div class="box col-xs-10 col-xs-offset-1">
  <h1 class="h10 text-center"><b>Thank You for Your Purchase!</b> </h1>
  <h2 class="h9 text-center">
    <br />
    You should be receiving a receipt from PayPal shortly.<br />
    We will ship out your item immediately and send you the shipment tracking info as soon as it's available.<br /><br />
    If you have any questions feel free to email us any time at Support@EcoElectronix.com<br />
    We'll get back to you within 24 hours.

  </h2>
  <br />
</div>
