@import url(https://fonts.googleapis.com/css?family=Raleway);

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: auto;
    width: auto;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: white;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #b7b7b7;
  line-height: 120%;
}

.image-size {
  height: 40px;
  width: auto;
  margin-top: 4px;
}

.box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:30px;
  margin-bottom:15px;
  padding:20px;
  padding-top: 0px;
}

.navbar.navbar-inverse {
  // background:url('/assets/barpattern.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom:0px;
  height: 50px;
}

.navbar-fixed-bottom.navbar-inverse {
  padding-bottom: 10px;
}

// .navbar-inverse .navbar-brand {
//   color: #39B54A;
//   font-family: 'Helvetica Neue', Helvetica, sans-serif;
//   font-size: 26px;
//   margin-top: 25px;
// }

.navbar-inverse .navbar-brand:visited {
  color: #39B54A;
}

.navbar-inverse .navbar-brand:hover {
  color: #39B54A;
}

.navbar-inverse .navbar-brand:active {
  color: #3BD950;
}

.navbar-inverse .navbar-right {
font-family: 'Raleway', sans-serif;
font-size: 22px;
}

.clr {
  clear:both;
}
