// @import url(http://getbootstrap.com/dist/css/bootstrap.css);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Nunito:300);

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: auto;
    width: auto;
    margin-top: 60px;
}

.background-grey {
  background-color: grey;
}

.carousel-indicators {
  bottom: 0px;
  color: grey;
}

.carousel-indicators li {
  background-color: #C2C2C2;
}
.carousel-indicators .active {
  background-color: #0EA300;
}
//
// .carousel-inner {
//    margin-bottom:50px;
// }

.blockquote1 {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.blockquote1:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blockquote1 p {
  display: inline;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #3D3D3D;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: #6E6E6E;
  line-height: 130%;
}

h5 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #3D3D3D;
}

h6 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #000000;
  line-height: 130%;
}

.h7 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #000000;
  text-align: left;
  padding-left: 20px;
}

.h8 {
  font-family: 'Raleway', sans-serif;
  padding-left: 20px;
  font-size: 32px;
}

.h9 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.h10 {
  font-family: 'Raleway', sans-serif;
  font-size: 38px;
}

.h11 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding-left: 50px;
}

.h12 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  padding-left: 50px;
}

.h13 {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding-left: 10px;
  font-style: italic;
  color: grey;
}

.h14 {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.h15 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 140%;
}

.h16 {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.tab {
  margin-left: 40px;
}

.tab2 {
  margin-left: 80px;
}

.landing {
  height: auto;
  width: auto;
}

b {
  font-weight: 700;
}

.margin-text{
  margin-top: 90px;
  padding-left: 20px;
}

.margin-text2{
  margin-top: 30px;
  padding-left: 20px;
}

.image-size {
  height: 40px;
  width: auto;
  margin-top: 7px;
}

.image-size-2 {
  height: 200px;
  width: auto;
  margin-top: 0px;
}

.image-size-3 {
  height: 190px;
  width: auto;
  margin-top: 60px;
}

.image-size-5 {
  height: 170px;
  width: auto;
  padding-left: 75px;
  padding-top: 0px;
}

.image-size-6 {
  height: 170px;
  width: auto;
}

.image-size-7 {
  height: 70px;
  width: auto;
  padding-left: 75px;
  border-radius: 10px;
}

p {
   margin-top:20px;
   margin-bottom:20px
}

.p2 {
   margin-top:5px;
   margin-bottom:5px
}

.box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #F2F2F2;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  padding-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.grey-box {
  background: #EBEBEB;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  border-width: 1px;
  // border-top-width: 0px;
  // border-bottom-width: 0px;
}

.white-box {
  background: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  border-width: 1px;
}

.white-box-top {
  background: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  // margin-top: 12px;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  border-width: 1px;
  // border-top-width: 0px;
  // border-top-left-radius: 1px;
  // border-top-right-radius: 1px;
}

.text-box {
  background: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 15px;
  border-style: solid;
  border-color: #A6A6A6;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.review-box {
  background: #FFFFFF;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 30px;
  border-style: solid;
  border-color: #A6A6A6;
  border-radius: 10px;
  // margin-left: 40px;
  // margin-right: 100px;
}

.quote-box-left {
  background: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 98px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
  border-radius: 10px;
  background-image: url("quote.png");
  background-repeat: no-repeat;
  background-size: 30px 25px;
  background-position: left top;
}

.quote-box-right {
  background: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
  border-radius: 10px;
  background-image: url("quote.png");
  background-repeat: no-repeat;
  background-size: 35px 25px;
  background-position: left top;
}

.quote-box {
  background: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 25px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
  border-radius: 10px;
  background-image: url("quote.png");
  background-repeat: no-repeat;
  background-size: 35px 25px;
  background-position: left top;
}

.quote-box-xs {
  background: #EBEBEB;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 5px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
  border-radius: 10px;
  background-image: url("quote.png");
  background-repeat: no-repeat;
  background-size: 30px 25px;
  background-position: left top;
}

.bottom-nav {
  margin-bottom: 120px;
}

.about_body {
  width: 100%;
  height: auto;
  background-image: url('nature_11_2.jpg');
  background-size: cover;
}

.line {
  line-height: 150%;
}

.frosty {
	background:rgba(0, 0, 0, 0.7);
	color:white;
  margin-top: 130px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30%;
  box-shadow: 0px 8px 20px #2a2a2a;
  border-radius: 10px;
}

.navbar.navbar-inverse {
  // background:url('/assets/barpattern.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom:0px;
  height: 60px;
  position:absolute;
  z-index:10;
  width:100%;
}

.navbar-inverse .navbar-right {
font-family: 'Raleway', sans-serif;
font-size: 22px;
margin-top: 3px;
}

.clr {
  clear:both;
}

.carousel {
  box-shadow: 0px 1px 12px #2a2a2a;
}

a:hover {
    background: none;
    text-decoration: none;
}

.social-button {
  width: 32px;
  margin: 4px;
  text-decoration: none;
}

div#footer > div.container {background-color:#CCCCCC;}

.footer {
  background-color: #CCCCCC;
}

.top {
  padding-top: 60px;
}
