// @import url(http://getbootstrap.com/dist/css/bootstrap.css);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Nunito:300);

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: auto;
    width: auto;
    margin-top: 60px
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #3D3D3D;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: #6E6E6E;
  line-height: 130%;
}

h5 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #3D3D3D;
}

h6 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #000000;
  line-height: 130%;
}

.margin-text{
  margin-top: 90px;
}

.image-size {
  height: 40px;
  width: auto;
  margin-top: 7px;
}

.image-size-2 {
  height: 200px;
  width: auto;
  margin-top: 60px;
}

p {
   margin-top:20px;
   margin-bottom:20px
}

.p2 {
   margin-top:5px;
   margin-bottom:5px
}

.box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:90px;
  padding: 20px;
  padding-top: 20px;
}

.bottom-nav {
  margin-bottom: 250px;
}

.about_body {
  width: 100%;
  height: auto;
  background-image: url('nature_11.jpeg');
  background-size: cover;
}

.line {
  line-height: 150%;
}

.frosty {
	background:rgba(0, 0, 0, 0.7);
	color:white;
  margin-top: 130px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 40%;
}

.navbar.navbar-inverse {
  // background:url('/assets/barpattern.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom:0px;
  height: 60px;
  position:absolute;
  z-index:10;
  width:100%;
}

.navbar-inverse .navbar-right {
font-family: 'Raleway', sans-serif;
font-size: 22px;
margin-top: 3px;
}

.navbar-fixed-bottom {
  background-color: #CCCCCC;
  padding-bottom: 0px;
  padding-top: 0px;
}

.clr {
  clear:both;
}
